appdirs==1.4.4
attrs==21.4.0
beautifulsoup4==4.10.0
bs4==0.0.1
cattrs==1.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
distlib==0.3.4
filelock==3.4.2
Flask==2.0.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
lk21==1.6.0
MarkupSafe==2.0.1
platformdirs==2.4.1
prompt-toolkit==3.0.24
questionary==1.10.0
requests==2.27.1
requests-cache==0.9.1
six==1.16.0
soupsieve==2.3.1
url-normalize==1.4.3
urllib3==1.26.8
virtualenv==20.13.0
wcwidth==0.2.5
Werkzeug==2.0.2
gunicorn==20.0.4
